@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono');

* {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	background: black;
}

.playlistembed {
	border: none;
	grid-area: middle;
	justify-self: center;
	align-self: start;
	height: 90%;
	width: 100%;
}

#maindiv {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas: "leftside header rightside"
						 "leftside middle rightside";
	height: 100%;
}

#mess {
	text-align: center;
	grid-area: header;
	align-self: center;
	font-size: 2em;
}