@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono');

* {
	font-family: 'Montserrat', sans-serif;
	color: white;
	-webkit-appearance: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	background: black;
}

input {
	color: white;
	background-color: black;
	border: solid .5px grey;
	border-top: none;
	text-align: center;
	padding-top: none;
	padding-bottom: 2px;
}

input::placeholder {
	color: grey;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}

h2 {
	color: #4CAF50;
}

h3 {
	font-family: 'Roboto Mono', monospace;
}

#main {
	height: 100%;
	display: grid;
	grid-template-columns: .5fr 4fr .5fr;
	grid-template-rows: 2fr 1fr .8fr 1.5fr 1fr .5fr 1.5fr 1fr 2fr;
	grid-template-areas: "leftside top rightside"
	"leftside playlist rightside"
	"leftside header rightside"
	"leftside public rightside"
	"leftside publicButton rightside"
	"leftside orSection rightside"
	"leftside login rightside"
	"leftside loginButton rightside"
	"leftside bottom rightside";
}

#loading {
	display: none;
	height: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#continuation {
	display: none;
	height: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#continuation div {
	text-align: center;
	place-self: center;
}

#loadMessage {
	text-align: center;
	place-self: center;
}

#playlist {
	grid-area: playlist;
	text-align: center;
	place-self: center;
}

#heading {
	grid-area: header;
	text-align: center;
	align-self: end;
	border-left: 2px gray solid;
	border-right: 2px gray solid;
	padding-left: 2%;
	padding-right: 2%;
}

#orSection {
	grid-area: orSection;
	text-align: center;
	place-self: center;
	color: grey;
}

#friend {
	grid-area: public;
	justify-self: center;
	align-self: start;
	text-align: center;
}

#login {
	grid-area: login;
	justify-self: center;
	align-self: start;
	text-align: center;
}

#publicSubmit {
	grid-area: publicButton;
	justify-self: center;
	align-self: center;
}

#loginButton {
	grid-area: loginButton;
	justify-self: center;
	align-self: center;
}

.btn {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 1em;
	background-color: #4CAF50;
	border: none;
	color: #e0e0e0;
	padding: 2% 5%;
	text-align: center;
	font-size: 1em;
	font-family: 'Roboto Mono', monospace;
}

.btn:hover {
	background-color: #5ac263; 
	color: white; 
}

.wrong {
	border-color: #dd0000;
}

.wrong::placeholder {
	color: #dd0000;
}

@media only screen and (min-width: 600px) {
	#main {
		grid-template-columns: .1fr 1fr .2fr 1fr .1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "leftside top top top rightside"
		"leftside playlist playlist playlist rightside"
		"leftside header header header rightside"
		"leftside public orSection login rightside"
		"leftside publicButton nothing loginButton rightside"
		"leftside bottom bottom bottom rightside";
	}

	#heading {
		border: none;
	}
	
	#loginButton {
		align-self: start;
	}
	
	#publicSubmit {
		align-self: start;
	}
}

@media only screen and (min-width: 768px) {
	#main {
		grid-template-columns: .3fr 1fr .2fr 1fr .3fr;
	}
}

@media only screen and (min-width: 1024px) {
	#main {
		grid-template-columns: 1fr 1fr .2fr 1fr 1fr;
	}
}