@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono');

* {
	font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
	width: 100%
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "leftside top rightside"
						 "leftside middle rightside"
						 "leftside bottom rightside";
	background: black;
}

p {
	color: #9ea8ba;
	font-size: 1.5em;
}

h1 {
	color: white;
	font-size: 3em;
	font-family: 'Roboto Mono', monospace;
}

#maindiv {
	justify-self: center;
	align-self: center;
	grid-area: middle;
	text-align: center;
	border: none;
	padding-left: 2%;
	padding-right: 2%;
	margin: none;
}

.btn {
	border-radius: 1em;
	background-color: #4CAF50;
	border: none;
	color: #e0e0e0;
	padding: 2% 5%;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Roboto Mono', monospace;
}

.btn:hover {
	background-color: #5ac263; 
	color: white;
	padding: 2% 7.5%;
}

.btn:focus {
	outline: none;
}

@media only screen and (min-width: 426px) {
	body {
		grid-template-columns: 0fr 4fr 0fr;
	}

	#maindiv {
		border-left: 2px gray solid;
		border-right: 2px gray solid;
	}
}

@media only screen and (min-width: 1200px) {
	p {
		font-size: 2em;
	}
}